# **Principal Component Analysis**

### **References**
https://builtin.com/data-science/step-step-explanation-principal-component-analysis

In [46]:
#import python libraries
import pandas as pd

In [47]:
#read sepsis data
sepsisDf = pd.read_csv("SepsisDataSet.csv",header= 0)

#drop last 49 records
sepsisDf = sepsisDf.dropna(how='all')

In [48]:
sepsisDf.describe()

,Age,SBP,URINE_OUTPUT,SaO2,FiO2,pH,PaO2,TLC,Bands,Hb,...,Platelet_count,AST,ALK_phosphatase,Total_Blirubin,Urea,Creatinine,RBS,Gly_Hb,CRP,GCS
count,400.00000,400.000000,399.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,...,4.000000e+02,400.000000,400.000000,400.000000,400.000000,400.000000,396.000000,381.000000,80.000000,319.000000
mean,55.71250,119.542500,118.892231,90.705000,0.578750,7.315800,104.657500,18951.320000,11.51500,10.982000,...,2.102612e+05,214.197500,141.657500,1.953250,73.556500,2.737500,175.750000,6.569029,187.933750,8.485893
std,16.62576,32.632044,93.715387,11.398368,0.194468,0.135724,58.938736,11967.413513,12.18034,4.597485,...,1.530816e+05,749.553259,118.778897,3.096718,56.610838,3.400788,112.380595,2.951821,155.758763,2.007601
min,17.00000,30.000000,0.000000,34.000000,0.200000,6.900000,21.000000,500.000000,0.00000,2.900000,...,3.930000e+02,11.000000,12.000000,0.100000,0.500000,0.100000,4.000000,4.000000,0.500000,3.000000
25%,44.00000,90.000000,60.000000,88.000000,0.400000,7.230000,76.000000,12775.000000,0.00000,8.800000,...,9.850000e+04,32.750000,75.000000,0.500000,33.750000,1.000000,109.000000,5.200000,64.975000,7.000000
50%,58.00000,120.000000,100.000000,95.000000,0.500000,7.340000,92.000000,16900.000000,10.00000,10.700000,...,1.820000e+05,56.500000,108.500000,0.900000,55.000000,1.700000,146.000000,5.900000,132.200000,8.000000
75%,67.25000,140.000000,140.000000,98.000000,0.700000,7.400000,116.000000,24000.000000,17.00000,12.525000,...,2.862500e+05,118.500000,160.250000,2.000000,97.250000,3.100000,214.000000,7.000000,284.000000,10.000000
max,101.00000,240.000000,600.000000,112.000000,1.000000,7.590000,443.000000,151000.000000,66.00000,85.000000,...,1.051000e+06,8709.000000,1302.000000,25.100000,387.000000,48.000000,936.000000,51.000000,625.000000,15.000000

In [49]:
for col in sepsisDf.columns:
    print(col)

Age
Sex
Speciality
DOAHOSP
IDOAICU
DOICU
DODHOSP
VAR00001
Clinical_Diagnosis
expired_within_48hr
Pnemonia
UTI
Acute_abdominal_infection
meningitis
soft_tissue_infection
bone_joint_infection
wound_infection
CABSI
Endocarditis
implantable_device_infection
Gynaecological_infection
Deep_organ_abscess
others
Hyperthermia
Hypothermia
altered_mental_status
Tachycardia
Tachypnea
Leukocytosis
Leukopenia
Hyperglycemia
SBP
URINE_OUTPUT
SaO2
FiO2
pH
PaO2
TLC
DLC
Bands
Hb
ESR
Platelet_count
AST
ALK_phosphatase
Total_Blirubin
Urea
Creatinine
RBS
Gly_Hb
CRP
GCS
Blood_culture_positive
immunocompromised
HIV
HBsAg
Diabetes
steroid
previous_hospitaliation
Hypertention
Asthma
COPD
Renal_disease
PROGNOSIS

In [50]:
columnsDf = pd.DataFrame(sepsisDf.columns)
columnsDf.to_csv("columns.csv")

In [51]:
#Replace Sex M -> 1  F->2

#Male -> 1
sepsisDf['Sex'] = sepsisDf['Sex'].replace(to_replace='M', value=1)

#Female -> 2
sepsisDf['Sex'] = sepsisDf['Sex'].replace(to_replace='F', value=2)

In [52]:
#Replace Yes and No with 1 and 0
toReplaceColumn = ['Pnemonia',	'UTI',	'Acute_abdominal_infection',	'meningitis',	'soft_tissue_infection',	'bone_joint_infection',	'wound_infection',	'CABSI',	'Endocarditis',	'implantable_device_infection',	'Gynaecological_infection',	'Deep_organ_abscess',	'others',	'Hyperthermia',	'Hypothermia',	'altered_mental_status',	'Tachycardia',	'Tachypnea',	'Leukocytosis',	'Leukopenia',	'Hyperglycemia', 'Blood_culture_positive',	'HIV',	'HBsAg',	'Diabetes',	'steroid',	'previous_hospitaliation',	'Hypertention',	'Asthma',	'COPD',	'Renal_disease']

for column in toReplaceColumn:
    if(sepsisDf[column].dtype == 'O'):
        sepsisDf[column] = sepsisDf[column].str.lower()
        sepsisDf[column] = sepsisDf[column].replace(to_replace='no',value=0)
        sepsisDf[column] = sepsisDf[column].replace(to_replace='yes',value=1)

sepsisDf.tail()

,Age,Sex,Speciality,DOAHOSP,IDOAICU,DOICU,DODHOSP,VAR00001,Clinical_Diagnosis,expired_within_48hr,...,HIV,HBsAg,Diabetes,steroid,previous_hospitaliation,Hypertention,Asthma,COPD,Renal_disease,PROGNOSIS
395,33.0,1,Trauma,18.05.18,18.05.18,30.05.18,30.05.18,ED,"right SAH, post RTA,closed head injury,C7 lami...",NaN,...,0,0,0.0,0.0,1,1.0,0.0,0.0,0.0,lost to followup
396,28.0,1,MED,14.05.18,14.05.18,19.05.18,29.05.18,ED,"febrile illness with thrombocytopenia,SAH,infe...",no,...,0,0,0.0,0.0,0,1.0,0.0,0.0,0.0,Recovered
397,48.0,2,MED,05.05.18,05.05.18,07.05.18,07.05.18,ED,"RVD,PCP pneumonia,sepsis with septic shock,sev...",yes,...,1,0,0.0,1.0,0,0.0,0.0,0.0,0.0,died
398,42.0,1,SUR,17.04.18,17.04.18,29.04.18,18.05.18,ED,"perforation peritonitis,duodenal leak,SSI",NaN,...,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,Recovered
399,76.0,2,MED,28.04.18,28.04.18,09.05.18,15.05.18,ED,"ECOLI SEPSIS ASSOCIATED WITH SEPTIC SHOCK,B/L ...",NaN,...,0,0,1.0,1.0,0,0.0,0.0,0.0,0.0,Recovered

In [53]:
dropColumns = ['Speciality','DOAHOSP','IDOAICU','DOICU','DODHOSP','VAR00001','Clinical_Diagnosis','expired_within_48hr','CRP','immunocompromised','PROGNOSIS']
standardizeDf = sepsisDf.drop(columns = dropColumns)
standardizeDf.head()

,Age,Sex,Pnemonia,UTI,Acute_abdominal_infection,meningitis,soft_tissue_infection,bone_joint_infection,wound_infection,CABSI,...,Blood_culture_positive,HIV,HBsAg,Diabetes,steroid,previous_hospitaliation,Hypertention,Asthma,COPD,Renal_disease
0,76.0,2,0,0,0,1,0,0,0,0,...,1,0,0,1.0,0.0,0,1.0,0.0,0.0,0.0
1,35.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0
2,58.0,2,0,0,0,1,0,0,0,0,...,1,0,0,1.0,0.0,0,0.0,0.0,0.0,1.0
3,42.0,1,0,0,0,0,1,0,0,0,...,1,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0
4,52.0,1,1,0,0,0,0,0,0,0,...,0,0,0,1.0,0.0,0,1.0,0.0,0.0,0.0

In [54]:
standardizeDf.describe()
standardizeDf.isnull().sum()

Age                              0
Sex                              0
Pnemonia                         0
UTI                              0
Acute_abdominal_infection        0
meningitis                       0
soft_tissue_infection            0
bone_joint_infection             0
wound_infection                  0
CABSI                            0
Endocarditis                     0
implantable_device_infection     0
Gynaecological_infection         0
Deep_organ_abscess               0
others                           0
Hyperthermia                     0
Hypothermia                      0
altered_mental_status            0
Tachycardia                      0
Tachypnea                        0
Leukocytosis                     0
Leukopenia                       0
Hyperglycemia                    3
SBP                              0
URINE_OUTPUT                     1
SaO2                             0
FiO2                             0
pH                               0
PaO2                             0
TLC                              0
DLC                              0
Bands                            0
Hb                               0
ESR                             87
Platelet_count                   0
AST                              0
ALK_phosphatase                  0
Total_Blirubin                   0
Urea                             0
Creatinine                       0
RBS                              4
Gly_Hb                          19
GCS                             81
Blood_culture_positive           0
HIV                              0
HBsAg                            0
Diabetes                         1
steroid                          2
previous_hospitaliation          0
Hypertention                     1
Asthma                           1
COPD                             1
Renal_disease                    1
dtype: int64

In [55]:
#dropping some essential columns (Note -> Will be included once the missing data is handled)
essentialColumns = ['GCS','Gly_Hb','ESR','DLC']

In [56]:
standardizeDf = standardizeDf.drop(columns = essentialColumns)
standardizeDf.isnull().sum()

Age                             0
Sex                             0
Pnemonia                        0
UTI                             0
Acute_abdominal_infection       0
meningitis                      0
soft_tissue_infection           0
bone_joint_infection            0
wound_infection                 0
CABSI                           0
Endocarditis                    0
implantable_device_infection    0
Gynaecological_infection        0
Deep_organ_abscess              0
others                          0
Hyperthermia                    0
Hypothermia                     0
altered_mental_status           0
Tachycardia                     0
Tachypnea                       0
Leukocytosis                    0
Leukopenia                      0
Hyperglycemia                   3
SBP                             0
URINE_OUTPUT                    1
SaO2                            0
FiO2                            0
pH                              0
PaO2                            0
TLC                             0
Bands                           0
Hb                              0
Platelet_count                  0
AST                             0
ALK_phosphatase                 0
Total_Blirubin                  0
Urea                            0
Creatinine                      0
RBS                             4
Blood_culture_positive          0
HIV                             0
HBsAg                           0
Diabetes                        1
steroid                         2
previous_hospitaliation         0
Hypertention                    1
Asthma                          1
COPD                            1
Renal_disease                   1
dtype: int64

In [57]:
standardizeDf = standardizeDf.dropna()
standardizeDf.isnull().sum()

Age                             0
Sex                             0
Pnemonia                        0
UTI                             0
Acute_abdominal_infection       0
meningitis                      0
soft_tissue_infection           0
bone_joint_infection            0
wound_infection                 0
CABSI                           0
Endocarditis                    0
implantable_device_infection    0
Gynaecological_infection        0
Deep_organ_abscess              0
others                          0
Hyperthermia                    0
Hypothermia                     0
altered_mental_status           0
Tachycardia                     0
Tachypnea                       0
Leukocytosis                    0
Leukopenia                      0
Hyperglycemia                   0
SBP                             0
URINE_OUTPUT                    0
SaO2                            0
FiO2                            0
pH                              0
PaO2                            0
TLC                             0
Bands                           0
Hb                              0
Platelet_count                  0
AST                             0
ALK_phosphatase                 0
Total_Blirubin                  0
Urea                            0
Creatinine                      0
RBS                             0
Blood_culture_positive          0
HIV                             0
HBsAg                           0
Diabetes                        0
steroid                         0
previous_hospitaliation         0
Hypertention                    0
Asthma                          0
COPD                            0
Renal_disease                   0
dtype: int64

## Standardization

In [58]:
#Import StandardScalar
from sklearn.preprocessing import StandardScaler

In [59]:
x = standardizeDf.to_numpy()

In [62]:
sc = StandardScaler().fit(x)
x_standardized = sc.transform(x)

array([[ 1.21796225,  1.50907618, -0.94509464, ..., -0.2       ,
        -0.45133547, -0.65465367],
       [-1.28110311, -0.66265707, -0.94509464, ..., -0.2       ,
        -0.45133547, -0.65465367],
       [ 0.1208116 ,  1.50907618, -0.94509464, ..., -0.2       ,
        -0.45133547,  1.52752523],
       ...,
       [-0.48871654,  1.50907618,  1.05809509, ..., -0.2       ,
        -0.45133547, -0.65465367],
       [-0.85443342, -0.66265707, -0.94509464, ..., -0.2       ,
        -0.45133547, -0.65465367],
       [ 1.21796225,  1.50907618, -0.94509464, ..., -0.2       ,
        -0.45133547, -0.65465367]])